*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    font-family:sans-serif;
}
:root{
    /* --color:rgb(14, 250, 250); */
    --color:rgb(41, 124, 124);
}
:root{
    --colo:rgb(56, 245, 220);
}
.next{
    color:var(--colo);
}
h3{
    color: var(--colo);
}
span{
    color: var(--color);
}
.container{
    width:70%;
    margin: 0 auto;
}
header{
    width: 100%;
}
.row{
    display: flex;
    justify-content: space-between;
}
.one{
    background-color: rgb(41, 124, 124);
    padding: 2rem 0;
}

.logo{
    font-size: 1.3rem;
    text-transform: uppercase;
    color: white;
}
.logo:hover{
    color: var(--colo);
}
nav h3{
    text-align: end;
}
.nav{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
}
.nav_list{
    display: flex;
    align-items: flex-end;
}
.nav_item{
    list-style: none;
    margin-left: auto;
}
.nav_item a{
    text-decoration: none;
    color: white;
    list-style: none;
    text-transform: uppercase;
    font-size: .7rem;
}
.nav_item a:hover{
    color: var(--colo);
}
.nav_item + .nav_item{
    margin-left: 2rem;
}
.large{
    font-size: 1.5rem;
    font-weight: 700;
    /* line-height: 2; */
    color:rgb(41, 124, 124);
}
.main{
    background: linear-gradient(to left, #b3ccd8 , #f7a2dc);
    background: -webkit-linear-gradient(to right, #a1d3b0, #f6f1d3);
    /* background: -moz-linear-gradient(to right, #a1d3b0, #f6f1d3); */
    background: linear-gradient(to right, #bbf1cb, #f6f1d3);
}
.center{
    text-align: center;
    padding: 5px 0;
}
.gray{
    font-size: 1.3;
    line-height: 2;
    color: gray;
}
.sub_large{
    font-size: 1.2rem;
    line-height: 2;
}
.colo{
    color: gray;
}
.text{
     /* background: linen; */
     width: 65%;
}
.hero{
    padding: 3rem 0;
}
.search{
    border-radius: .5rem;
    height: 2rem;
    text-align: center;
    /* color: #a1d3b0; */
}
.searchh{
    height: 3rem;
    border-radius: .5rem;
}
.form{
    /* background-color: tomato; */
}
.btn{
    color: white;
    font-weight: 700;
    padding: 1rem;
    background-color: var(--color);
    /* margin-top: 2rem; */
    text-decoration: none;
}
.btn:hover{
    color: var(--colo);
}
@media(max-width:916px){
    .container{
        width: 85%;
    }
}
@media(max-width:751px){
    .container{
        width: 95%;
    }
}
@media(max-width:659px){
    .row{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .nav h3 , .nav_item a{
        text-align: center;
    }
    .text{
        width: 85%;
    }
}
@media(max-width:423px){
    .nav h3{
        text-align: center;
    }
    .nav_item + .nav_item {
        margin: .4rem;
    }
    .special_one{
        margin: .4rem;
    }
}